@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  /* Colors */

  /* Primary */
  --primary-bright-red: hsl(12, 88%, 59%);
  --primary-dark-blue: hsl(228, 39%, 23%);

  /* Neutral */
  --neutral-grayish-blue: hsl(227, 12%, 61%);
  --neutral-dark-blue: hsl(233, 12%, 13%);
  --neutral-pale-red: hsl(13, 80%, 84%);
  --neutral-light-gray: hsl(0, 0%, 98%);
}

.btn {
  background-color: var(--primary-bright-red);
  border: none;
  color: var(--neutral-light-gray);
  font-size: 1rem;
  font-weight: 700;
  border-radius: 40px;
  cursor: pointer;
}
h1,
label {
  color: var(--primary-dark-blue);
}
p,
article {
  color: var(--neutral-grayish-blue);
}

li {
  color: var(--neutral-light-gray);
}

.btn {
  width: 9rem;
  height: 3rem;
}

/* ------------------------------------------------------------- */

body {
  font-size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;
}
/* --------------------------------------------------------------- */
nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 2rem 0;
}
.nav-item-1 {
  display: none;
}
.nav-btn {
  display: none;
}

.nav-item-1 > li {
  color: var(--primary-dark-blue);
  cursor: pointer;
}

.nav-item-1 > li:hover {
  color: var(--neutral-grayish-blue);
}

#toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.toggle_close {
  display: none;
}

.active-nav {
  display: initial;
  position: absolute;
  top: 80px;
  left: 10%;
  text-align: center;
  background-color: var(--neutral-light-gray);
  width: 80%;
}

.active-nav li {
  color: var(--primary-dark-blue);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2;
}

/* --------------------------------------------------------------- */

.hero-section {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  padding: 2rem 0 2rem 0;
  text-align: center;
}

.hero-section > div > h1 {
  font-size: 2.3rem;
  padding: 1rem 0 1rem 0;
}
.hero-section > div > p {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

/* --------------------------------------------------------------- */

.sub-content-1 {
  text-align: center;
  padding: 2rem;
  line-height: 1;
}

.sub-content-1 > h1 {
  font-size: 2rem;
  padding: 1rem 0 1rem 0;
}

.content-items {
  margin-bottom: 2rem;
}

.content-item {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-left: 2rem;
  border-radius: 40px 0 0 40px;
  background-color: var(--neutral-pale-red);
}

.content-item > span {
  background-color: var(--primary-bright-red);
  color: var(--neutral-light-gray);
  font-size: 1rem;
  font-weight: 700;
  border-radius: 40px;
  padding: 6px 20px 6px 20px;
}
.content-item > strong {
  font-size: 14px;
  background-color: var(--neutral-pale-red);
  color: var(--primary-dark-blue);
  padding-left: 1rem;
}
.content-items > p {
  padding: 1rem;
}

/* --------------------------------------------------------------- */

.testimonials {
  text-align: center;
  padding: 2rem 1rem 4rem 1rem;
}

.testimonials > h1 {
  font-size: 2.5rem;
  text-align: center;
}

.testimonial-details {
  padding: 5rem 3rem 3rem;
  background: var(--neutral-light-gray);
  border-radius: 10px;
}
.testimonial-details label {
  font-weight: 600;
}
.testimonial-details article {
  margin-top: 1rem;
  font-weight: 500;
}

/* -------------------------------------Image Slider Start------------------------------------- */

.slider {
  display: flex;
  gap: 2rem;
}

.a11y-slider-container {
  margin-bottom: 4rem;
}

.slider > * {
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

.slider img {
  width: 100px;
  position: relative;
  inset: 0;
  margin-inline: auto;
  top: 0;
  transform: translateY(50%);
}

.a11y-slider-dots {
  display: flex;
  justify-content: center;
  margin-block: 5rem;
  gap: 0.5rem;
}

.a11y-slider-dots li {
  display: blocks;
  width: 12px;
  height: 12px;
  padding: 0;
}

.a11y-slider-dots li button {
  display: block;
  font-size: 0;
  text-indent: -9999px;
  background: transparent;
  border: 2px solid var(--neutral-pale-red) !important;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.a11y-slider-dots li button.active {
  background: var(--neutral-pale-red);
}

@media (min-width: 30em) {
  .slider {
    scroll-padding-inline: 25px;
  }

  .a11y-slider-container {
    margin-inline: 0;
  }
  .slider > * {
    width: 50%;
  }
}

@media (min-width: 50em) {
  .slider > * {
    width: 35%;
  }
}

/* -------------------------------------Image Slider Start------------------------------------- */
/* --------------------------------------------------------------- */
.work-details {
  background-color: var(--primary-bright-red);
  padding: 5rem 3rem 5rem 3rem;
  text-align: center;
  position: relative;
  isolation: isolate;
}

/* need to learn what is isolation  */

.work-details > h1 {
  font-size: 2rem;
  color: var(--neutral-light-gray);
  margin-bottom: 2.5rem;
}

.work-details > .btn {
  background-color: var(--neutral-light-gray);
  color: var(--primary-bright-red);
}

.work-details::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background-image: url("/images/bg-tablet-pattern.svg"),
    url("/images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  opacity: 0.1;
  background-position: -15rem -5rem, 70rem -42rem;
}

/* --------------------------------------------------------------- */

footer {
  background-color: var(--neutral-dark-blue);
  padding: 2.5rem;
}

.footer-logo {
  height: 20px;
  margin-top: 3rem;
}

.footer-details {
  display: flex;
  flex-direction: column-reverse;
}

.footer-items {
  display: grid;
  grid-template-areas: "1 2";
  gap: 1rem;
  justify-content: space-around;
}
.footer-items > li {
  cursor: pointer;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.socials > li {
  cursor: pointer;
  font-size: 2rem;
  padding: 2rem 0 2rem 0;
}

.contact-us > input {
  width: 70%;
  height: 2rem;
  border: none;
  border-radius: 40px;
  padding: 1rem;
}
.contact-us > .btn {
  width: 4rem;
  height: 2rem;
  margin: 2rem 0 2rem 0.2rem;
}
footer > p {
  margin-top: 2rem;
  text-align: center;
}
/* --------------------------------------------------------------------- */

@media (min-width: 1000px) {
  .nav-item-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  .nav-btn {
    display: initial;
  }
  #toggle {
    display: none;
  }

  /* =============================================== */

  .hero-section {
    width: 80%;

    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
  }

  /* =============================================== */

  .contents {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  .sub-content-1 > h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  .sub-content-1 > p {
    line-height: 1.5;
  }

  .content-item {
    background-color: #fff;
  }
  .content-item > strong {
    background-color: #fff;
  }
  .content-items > p {
    margin-left: 6rem;
  }
  /* ===================================================== */

  /* ===================================================== */
  .footer-details > img {
    height: 30px;
    width: 200px;
  }

  .footer-details {
    flex-direction: row;
    justify-content: space-around;
  }

  .footer-items {
    display: grid;
    grid-template-areas: "1 2 3";
    gap: 2rem;
    justify-content: center;
  }
  .footer-items > li {
    cursor: pointer;
  }

  .socials {
    margin-top: 2rem;
  }

  .socials > li {
    cursor: pointer;
    font-size: 2rem;
  }

  footer > p {
    text-align: right;
  }
}
